.text-impact-badge {
    display: flex;
    max-width: 100%;
    /* width: 100%; */
    align-items: center;
    gap: 10px;
    justify-content: center;
    text-align: center;

  }
  
  .text-badge-icon {
    position: absolute;
    left: 44rem;
    background-color: #00E091;
    color: #e2dfdf;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    /* border: 1px  #e6e6e6; */ 
    padding: 5px;
  }
  
  .text-badge-text {
    font-size: 14px;
    font-weight: 600;
    color: #333;
    border: 1px solid #e6e6e6;
    padding: 11px 40px;
    margin-left: 100px;
    border-radius: 30px;
  }
  
  .text-impact-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    font-weight: 800;
    color: black;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: "Urbanist", "Urbanist Placeholder", sans-serif;

  }
  
  .text-impact-subtitle {
    font-size: 20px;
    color: #6c757d;
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.6;
    font-weight: "Urbanist", "Urbanist Placeholder", sans-serif;
  }
  /* Default styles are for larger screens */

/* Tablets and smaller screens (max-width: 1024px) */
@media screen and (max-width: 1024px) {
  .text-badge-icon {
    /* left: 30rem;  */
    width: 40px;
    height: 40px;
  }

  .text-impact-title {
    font-size: 35px;
  }

  .text-impact-subtitle {
    font-size: 15px;
  }
}

/* Small tablets and large phones (max-width: 768px) */
@media screen and (max-width: 768px) {
  .text-badge-icon {
    left: 30%;
    width: 40px;
    height: 40px;
  }

  .text-badge-text {
    padding: 10px 30px;
    font-size: 13px;
  }

  .text-impact-title {
    font-size: 33px;
  }

  .text-impact-subtitle {
    font-size: 14px;
  }
  .text-impact-badge {
    margin-top: -30%;

  }
}

/* Mobile devices (max-width: 480px) */
@media screen and (max-width: 480px) {
  .text-badge-icon {
    width: 30px;
    height: 30px;
  }

  .text-badge-text {
    font-size: 12px;
    padding: 8px 20px;
    margin-left: 0; 
  }

  .text-impact-title {
    font-size: 800;
  }

  .text-impact-subtitle {
    font-size: 18px;
  }
}

/* Extra small devices (max-width: 360px) */
@media screen and (max-width: 360px) {
  .text-impact-title {
    font-size: 25px;
  }

  .text-impact-subtitle {
    font-size: 12px;
  }
}
