.education-promo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.promo-content {
  background: white;
  padding: 30px 40px;
  border-radius: 15px;
  max-width: 100%;
  position: absolute;
  left: 20%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.promo-content h1 {
  width: 450px;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #000;
}

.promo-content p {
  font-size: 1rem;
  width: 450px;
  color: #666;
  margin-bottom: 20px;
}

.donate-button {
  background-color: black;
  color: white;
  padding: 12px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s ease;
  display: block;
  width: 100%;
}

.donate-button:hover {
  opacity: 0.8;
}

.promo-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.promo-image img {
  width: 80%;
  height: auto;
  border-radius: 20px;
}

@media (max-width: 768px) {
  .education-promo {
      flex-direction: column;
      padding: 20px;
  }
  
  .promo-content {
      position: relative;
      left: 0;
      text-align: center;
      max-width: 90%;
      padding: 20px;
  }
  
  .promo-image img {
      border-radius: 10px;
  }
}
