:root {
  --framer-font-family: "Urbanist", "Urbanist Placeholder", sans-serif;
  --framer-font-family-bold: "Urbanist", "Urbanist Placeholder", sans-serif;
  --framer-font-family-bold-italic: "Urbanist", "Urbanist Placeholder", sans-serif;
  --framer-font-family-italic: "Urbanist", "Urbanist Placeholder", sans-serif;
}

.cards-container {
  display: flex;
  gap: 20px;
  padding: 24px;
  justify-content: center;
}

.card {
  width: 570px;
  height: 280px;
  border-radius: 30px;
  padding: 24px;
  position: relative;
  color: black;
  overflow: hidden;
}

.card-orange {
  background-image: url("https://framerusercontent.com/images/7OZtW9Eg3d8k5HedDXVJulTHGlk.png");
  background-position: center;
  background-size: cover;
  
}
.card-yellow {
  background-image: url("https://framerusercontent.com/images/7ehFTDAW5eBlZkZfFvmmkX0Wtc.png");
  background-position: center;
  background-size: cover;
}

.card-overlay {
  position: absolute;
  width: 100%;
  height: 50%;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  opacity: 0.9;
  position:absolute;
  border-radius:inherit;
  top:0;
  right:0;
  bottom:0;
  left:0

}
/* 
.card-orange .card-overlay {
  background-color: #f1714e;
}

.card-yellow .card-overlay {
  background-color: #f5c645;
} */

.card-content {
  position: relative;
  z-index: 10;
  margin-top: 30px;

}

.card-badge {
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 23px;
  font-weight: bold;
  font-family: "Urbanist", "Urbanist Placeholder", sans-serif;
}

.card-title {
  font-family: "Urbanist", "Urbanist Placeholder", sans-serif;
  font-size: 65px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: -10px;
}

.card-highlight {
  font-weight: normal;
  font-weight: bold;
  font-family: "Urbanist", "Urbanist Placeholder", sans-serif;
}

.card-text {
  font-size: 16px;
  margin-top: 5px;
  color: #333;
  line-height: 1.7;
}
@media (max-width: 1200px) {
  .card {
    width: 500px; /* Slightly reduced card width */
    height: 300px; /* Maintain aspect ratio or adjust as needed */
  }
  .card-title {
    font-size: 55px; /* Slightly smaller title */
  }
}

@media (max-width: 992px) {
  .card {
    width: 400px; 
    height: 260px;
  }
  .card-title {
    font-size: 45px;
  }
  .card-badge {
    font-size: 20px;
  }
  .card-text {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .cards-container {
    flex-direction: column; /* Stack cards vertically */
    align-items: center; /* Center the cards */
  }

  .card {
    width: 90%; /* Make cards take full width */
    height: auto; /* Allow height to adjust */
  }
  .card-title {
    font-size: 35px;
  }
  .card-badge {
    font-size: 18px;
  }
  .card-text {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .cards-container{
    margin-top: -10%;
  }
  .card {
    width: 95%;
    height: auto;
  }
  .card-title {
    font-size: 28px;
  }
  .card-badge {
    font-size: 16px;
  }
  .card-text {
    font-size: 12px;
  }
}