@import "tailwindcss";

body, input, textarea, select, button {
    font-size: 12px;
    font-family: sans-serif;
}
.text-con{
    margin-bottom: -90px;
}
.text-content-con{
    margin-bottom: -50px;
}
 link{
    text-decoration: none;
    color: black;
 }